@media screen and (max-width: 425px) {
  /*! NAV-BAR */

  .nav-logo {
    width: 114px;
    height: 46px;
    margin-left: 19px;
  }
  .nav-menu {
    display: none;
  }

  .nav-bar {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    background-color: rgba(53, 86, 116, 1);
    margin: 0;
  }

  .nav-link {
    margin-right: 0;
  }

  /*? ==== BURGER-MENU ====*/

  /* .nav-list.show {
        display: grid;
    } */

  .nav-menu.show {
    display: flex;
  }

  .nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .nav-link {
    font-weight: 500;
    font-size: 18px;

    color: #fff;
    line-height: 22px; /* 122.222% */

    margin-right: 0px;
  }

  .burger-btn {
    position: absolute;
    right: 22px;
    top: 50px;
    width: 30px;
    height: 25px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    z-index: 999;
  }

  .bar {
    height: 4px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    transition: 0.3s ease;
    border-radius: 10px;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    display: none;
    position: fixed; /*?position: fixed shrink vw  */
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(53, 86, 116, 1);
    z-index: 666;
    gap: 26px;
  }

  .nav-item:last-child .nav-link {
    margin-right: 0;
  }

  .bar:nth-child(1).active {
    transform: rotate(45deg) translate(9px, 5px);
  }

  .bar:nth-child(2).active {
    display: none;
  }

  .bar:nth-child(3).active {
    transform: rotate(-45deg) translate(9px, -5px);
  }

  /**==============================*/
  /*! HERO-SECTION*/
  /**==============================*/

  .hero-container {
    position: absolute;
    top: 35%;
    right: 20%;

    z-index: 2;
  }

  .hero-title {
    font-size: 65px;
    margin-bottom: 6px;
  }

  .hero-link-point {
    width: 300px;
  }

  .image-in-slide {
    width: 100%;
    height: 722px;
    object-fit: cover;
    object-position: center;
  }

  .hero-context {
    width: 300px;
    margin-bottom: 51px;
  }
  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-width: 0;
  }

  /**==============================*/
  /*! FEATURE-SECTION*/
  /**==============================*/

  .feature-title {
    font-size: 40px;
    text-align: center;
    letter-spacing: 2px;
  }

  .feature-subtitle {
    font-size: 45px;
    letter-spacing: 1.12px;
    margin-bottom: 62px;
  }

  .feature-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 50px;
  }

  .features-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 50px;
  }

  .feature-discount::before {
    padding: 28px;
  }

  .feature-link {
    width: 328px;
  }

  /**==============================*/
  /*! PRODUCT-OVERVIEW*/
  /**==============================*/

  .product-testimonial {
    width: 100%;
  }

  .product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .product-title {
    font-size: 40px;
  }

  .product-subtitle {
    font-size: 45px;

    color: #355674;
    letter-spacing: 1.25px;
    text-transform: uppercase;

    margin-bottom: 21px;
  }

  .img-product {
    width: 263px;
    height: 327px;
  }

  .product-text {
    font-size: 18px;
  }

  .product-price {
    font-size: 26px;

    margin-top: 17px;
  }

  .product-link {
    margin-top: 47px;
    width: 326px;
  }

  .testimonial-subtitle {
    font-size: 24px;
  }

  .testimonial-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .testimonial-items:last-child .testimonial-title {
    width: 160px;
    height: 70px;
  }

  /*? PRODUCT-TESTIMONIALS */

  .testimonial-title {
    font-weight: 400;
    font-size: 18px;

    color: #355674;
    text-align: center;

    width: 236px;
  }

  /**==============================*/
  /*! FORM-SECTION */
  /**==============================*/

  .form-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 27px;
    width: 100%;
    height: auto;
  }

  .subscription-title {
    font-family: "Square Peg";
    font-weight: 400;
    font-size: 65px;

    color: #fff;
    text-align: center;
    letter-spacing: 2.8px;
  }

  .input-title-email {
    font-family: "Square Peg";
    font-weight: 400;
    font-size: 75px;

    color: #fff;
    text-align: center;
    line-height: normal;
    letter-spacing: 3.75px;

    margin-top: 50px;
    display: none;
  }

  #name-tx,
  #email-txt {
    width: 350px;
  }

  textarea {
    width: 350px;
  }

  #form-submit {
    width: 350px;
  }

  /**==============================*/
  /*! FOOTER */
  /**==============================*/

  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 0;

    gap: 54px;
  }

  .footer-title {
    font-weight: 400;
  }

  .contact-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 5px;
  }

  .title-icon {
    font-size: 53px;
  }

  .icon-social {
    width: 52px;
    height: 49px;
  }

  .footer-logo {
    width: 184px;
    height: 74px;
  }
}
