/* RESET CSS */

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Square+Peg&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html {
  font-family: "Quicksand", serif;
  font-size: 0.625rem;
  scroll-behavior: smooth;
}

body {
  font-size: 1rem;
  height: 100%;
  line-height: 1;
  overflow-x: hidden;
}

button {
  cursor: pointer;
  background-color: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
}

.container {
  width: min(100%, 1336px);
  /* parent size 100% width */
  margin: 0 auto;
  padding: 0 15px;
}

/*******************************/
/*! HEADER */
/*******************************/
/*? INFO-DISCOUNT */

.info-discont {
  background-color: rgba(215, 230, 236, 1);
}

.discount-items {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 8px;
  padding: 10px 0;
}

.items-discount {
  width: 10px;
  height: 8px;
}

.discount-textt {
  font-weight: 500;
  font-size: 10px;
  color: #355674;

  line-height: normal;
  letter-spacing: 0.5px;
}

/*? NAV-LOGO */

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: rgba(53, 86, 116, 1);
}

.logo-nav {
  padding: 9px 0;
}

.nav-logo {
  width: 114px;
  height: 46px;
  margin-left: 140px;
}

/*? BURGER-BTTN */

.burger-btn {
  display: none;
}

/* .nav-list-menu.show {
  display: flex;
} */

/* .nav-menu.show {
  display: flex;
} */

/*? NAV-BAR */

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  /* margin: auto; */
}

.nav-link {
  font-weight: 400;
  font-size: 18px;

  color: #fff;
  line-height: 22px;
  letter-spacing: 0.45px;
  margin-right: 58px;
}

.nav-link:hover {
  color: rgb(255, 255, 255, 0.8);
  transition: 0.3s ease;
}

.nav-item:last-child .nav-link {
  margin-right: 105px;
}

/* no margin-right for last-child "Contact-us" */

/**==============================*/
/*! LINK-POINT*/
/**==============================*/

.section-linkpoint {
  background-color: #355674;
}

.container-linkpoint {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 90px 0;
  width: 100vw;
  height: 100vh;
}

.content-linkpoint {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-linkpoint {
  font-family: "Square Peg";
  font-weight: 400;
  font-size: 75px;

  color: #fff;
  text-align: center;
  line-height: normal;
}

.link-btn {
  font-weight: 500;
  font-size: 14px;

  color: #fff;
  text-align: center;
  letter-spacing: 0.7px;
  text-transform: uppercase;

  background-color: rgb(148, 120, 167);
  border-radius: 23px;
  padding: 14px 0;
  width: 400px;
}

.link-btn:hover,
.link-btn:active {
  background-color: rgb(175, 134, 202);
  transition: 250ms ease;
}

/**==============================*/
/*! HERO-SECTION*/
/**==============================*/

.section-hero {
  position: relative;

  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.image-in-slide {
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  object-fit: cover;
  object-position: center;
  z-index: 1;
}

.hero-container {
  position: absolute;
  top: 40%;
  right: 35%;

  z-index: 2;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  min-width: 160px;
}

.hero-title {
  font-family: "Square Peg";
  font-weight: 400;
  font-size: 75px;

  color: #fff;
  text-align: center;
  line-height: normal;

  margin-bottom: 6px;
}

.hero-context {
  font-weight: 500;
  font-size: 18px;

  color: #fff;
  text-align: center;
  line-height: 22px;

  margin-bottom: 121px;
}

.hero-link-point {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  font-weight: 500;
  font-size: 14px;

  color: #fff;
  letter-spacing: 0.7px;
  text-transform: uppercase;

  background-color: rgb(148, 120, 167);
  border-radius: 23px;
  text-transform: uppercase;
  padding: 14px 0;
  width: 600px;
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;

  color: #fff;
  font-size: 18px;
}

.hero-link-point:hover,
.hero-link-point:active {
  background-color: rgb(175, 134, 202);
  transition: 250ms ease;
}

/**==============================*/
/*! FEATURE-SECTION*/
/**==============================*/

.feature-section {
  background-color: rgba(193, 173, 206, 1);
  width: 100vw;
}

.feaure-container {
  padding: 90px 0;
}

.feature-caption {
  height: auto;
  width: 100%;
}

.feature-title {
  font-family: "Square Peg";
  font-weight: 400;
  font-size: 50px;

  color: #fff;
  text-align: center;
  line-height: normal;
  letter-spacing: 2.5px;
}

.feature-subtitle {
  font-weight: 300;
  font-size: 55px;

  color: #fff;
  text-align: center;
  line-height: normal;
  letter-spacing: 1.375px;
  text-transform: uppercase;
  margin-bottom: 92px;
}

.feature-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 144px;
}

/*? FEATURE-ITEMS */

.features-list {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 72px;
}

.feature-discount {
  position: relative;
}

.feature-discount::before {
  content: "30%";
  position: absolute;
  top: 4%;
  right: 5%;

  font-family: "Square Peg";
  font-weight: 400;
  font-size: 45px;
  color: #355674;

  background-color: rgba(215, 230, 236, 1);
  border-radius: 50%;
  padding: 27px;
}

.feature-item {
  cursor: pointer;
}

.features-item-block {
  height: auto;
}

.product-cart {
  width: 325px;
  height: 100%;
  border-radius: 16px 16px 0px 0px;
}

.feature-content {
  background-color: rgba(148, 120, 167, 1);
  padding: 22px 16px;

  border-radius: 0px 0px 16px 16px;
}

.feature-heading {
  font-weight: 500;
  font-size: 18px;

  color: #fff;
  line-height: 22px; /* 122.222% */
}

.feature-price {
  font-weight: 400;
  font-size: 26px;

  color: #fff;
  margin-top: 13px;
}

.feature-item-text {
  font-weight: 300;
  font-size: 18px;

  color: #fff;
  line-height: 22px; /* 122.222% */
}

.feature-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  font-weight: 500;
  font-size: 14px;

  color: #fff;
  text-align: center;
  letter-spacing: 0.7px;
  text-transform: uppercase;

  border: 1px solid #fff;
  border-radius: 23px;
  padding: 13.5px 0;
  width: 400px;
}

.feature-link:hover,
.feature-link:active {
  background-color: rgb(255, 255, 255, 0.2);
  transition: 250ms ease;
}

.arrow-feature {
  color: #fff;
}

/**==============================*/
/*! PRODUCT-SECTION*/
/**==============================*/

.product-section {
  width: 100vw;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.product-overview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;

  padding: 90px 0;
}

.product-context {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-title {
  font-family: "Square Peg";
  font-weight: 400;
  font-size: 50px;

  color: #355674;
  line-height: normal;
  letter-spacing: 2.5px;
}

.product-subtitle {
  font-weight: 300;
  font-size: 55px;

  color: #355674;
  line-height: normal;
  letter-spacing: 1.375px;
  text-transform: uppercase;

  margin-bottom: 17px;
}

.product-rating {
  display: flex;
  align-items: center;
  justify-content: center;

  /* gap: 5px; */
}

.img-product {
  width: 659px;
  height: 531px;
}

/*! Pseudo-Child product-img-overview */
.product-text:nth-last-child(2) {
  font-weight: 500;
}

.product-text {
  font-weight: 300;
  font-size: 24px;

  color: #355674;
  text-align: center;
  line-height: normal;
}

.product-price {
  font-weight: 400;
  font-size: 29px;

  color: #355674;
  text-align: center;
  font-style: normal;
  line-height: normal;

  margin-top: 10px;
}

.product-link {
  font-weight: 500;
  font-size: 14px;

  color: #fff;
  text-align: center;
  letter-spacing: 0.7px;
  text-transform: uppercase;

  margin-top: 26px;
  border-radius: 23px;
  padding: 13.5px 0;
  background-color: rgba(148, 120, 167, 1);
  width: 400px;
}

.product-link:hover,
.product-link:active {
  background-color: rgb(175, 134, 202);
  transition: 250ms ease;
}

/*? PRODUCT-TESTIMONIALS */

.product-testimonial {
  background-color: rgba(243, 248, 249, 1);
  padding: 90px 0;
}

.testimonial-context {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.testimonials-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 90px;
}

.testimonial-items {
  width: 100%;
}

.testimonial-title {
  font-weight: 400;
  font-size: 28px;

  color: #355674;
  text-align: center;

  width: 528px;
  margin-bottom: 26px;
}

.testimonial-subtitle {
  font-family: "Square Peg";
  font-weight: 400;
  font-size: 28px;

  color: #9478a7;
  text-align: center;
  line-height: normal;
}

/**==============================*/
/*! FORM-SECTION*/
/**==============================*/

.form-section {
  background-image: linear-gradient(
      90deg,
      rgba(53, 86, 116, 0.7) 50%,
      rgba(53, 86, 116, 0.7) 100%
    ),
    url("../img/form_bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  width: 100vw;
  height: 992px;
}

.form-container {
  padding: 90px 0;
  height: 100%;
}

/*? FORM */

.form-subscription {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 52px;

  width: 100%;
  height: 100%;
}

.form-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  gap: 27px;
  height: auto;
  width: 100%;
}

#name-tx,
#email-txt {
  display: block;
  outline: none;
  
  font-family: "Quicksand", serif;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  letter-spacing: 0.7px;
  
  padding-left: 29px;
  
  border-radius: 28px;
  border: 1px solid rgba(255, 255, 255, 1);
  background-color: transparent;
  
  width: 600px;
  height: 45px;
}

#name-tx:focus,
#email-txt:focus {
  border-color: rgb(131, 220, 231);
  transition: 250ms ease;
  outline: none;
}

#email-txt::placeholder,
#name-tx::placeholder {
  color: #fff;
}

textarea {
  display: block;
  resize: none;

  font-family: "Quicksand", serif;
  font-weight: 400;
  font-size: 14px;

  color: #fff;
  letter-spacing: 0.7px;

  width: 600px;
  height: 180px;

  border-radius: 28px;
  border: 1px solid rgba(255, 255, 255, 1);
  background-color: transparent;
  padding: 14px 25px;
}

textarea::placeholder {
  font-family: "Quicksand", serif;
  font-weight: 400;
  font-size: 14px;

  color: #fff;
  letter-spacing: 0.7px;
}

textarea:focus {
  border-color: rgb(131, 220, 231);
  transition: 250ms ease;
  outline: none;
}

#form-submit {
  font-weight: 400;
  font-size: 14px;

  color: #fff;
  letter-spacing: 1.4px;
  text-transform: uppercase;

  border-radius: 23px;
  background-color: rgb(148, 120, 167);
  padding: 14px 0;

  width: 600px;
  cursor: pointer;
}

#form-submit:hover,
#form-submit:active {
  background-color: rgb(175, 134, 202);
  transition: 250ms ease;
}

.form-subtitle {
  font-weight: 400;
  font-size: 18px;

  color: #fff;
  text-align: center;
  line-height: 22px; /* 122.222% */

  width: 331px;
}

.subscription-title {
  font-family: "Square Peg";
  font-weight: 400;
  font-size: 75px;

  color: #fff;
  text-align: center;
  line-height: normal;
  letter-spacing: 3.75px;
}

.input-title-email {
  font-family: "Square Peg";
  font-weight: 400;
  font-size: 75px;

  color: #fff;
  text-align: center;
  line-height: normal;
  letter-spacing: 3.75px;

  margin-top: 50px;
  display: none;
}

.mesg {
  font-weight: 500;
  font-size: 16px;

  text-transform: uppercase;
  visibility: hidden;
  padding: 8px 10px;
  height: 28px;
}

/**==============================*/
/*! FOOTER*/
/**==============================*/

.footer {
  background-color: rgb(53, 86, 116);
  width: 100vw;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 90px 180px;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.footer-title {
  font-family: "Square Peg";
  font-weight: 400;
  font-size: 40px;

  color: #fff;
  line-height: normal;
  letter-spacing: 2px;

  margin-bottom: 6px;
}

.contact-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  gap: 9px;
}

.contact-item {
}

.contact-title {
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;

  color: #fff;
  letter-spacing: 0.06em;
  line-height: normal;
}

.address {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;

  font-weight: 400;
  font-size: 18px;

  color: #fff;
  line-height: 22px; /* 122.222% */
}

.address i {
}

.address:hover,
.address:active {
  color: rgb(199, 199, 199);
  transition: 250ms ease;
}

.icon-container {
}

.title-icon {
  font-family: "Square Peg";
  font-weight: 400;
  font-size: 40px;

  color: #fff;
  text-align: center;
  letter-spacing: 2px;

  margin-bottom: 9px;
}

.footer-icon-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.icon-social {
  width: 40px;
  height: 40px;
}
/* 
.icon-social:hover {
  border: 1px solid #fff;
  padding: 8px;
  border-radius: 50%;
} */

.footer-logo {
  height: 90px;
  width: 140px;
}

.footer-menu {
}

.footer-logo {
  width: 184px;
  height: 74px;
}
