/* RESET CSS */

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Square+Peg&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html {
  font-family: "Quicksand", serif;
  font-size: 0.625rem;
  scroll-behavior: smooth;
}

body {
  font-size: 1rem;
  height: 100%;
  line-height: 1;
  overflow-x: hidden;
}

button {
  cursor: pointer;
  background-color: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
}

.container {
  width: min(100%, 1336px);
  /* parent size 100% width */
  margin: 0 auto;
  padding: 0 15px;
}

/*******************************/
/*! HEADER */
/*******************************/
/*? INFO-DISCOUNT */

.info-discont {
  background-color: rgba(215, 230, 236, 1);
}

.discount-items {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 8px;
  padding: 10px 0;
}

.items-discount {
  width: 10px;
  height: 8px;
}

.discount-textt {
  font-weight: 500;
  font-size: 10px;
  color: #355674;

  line-height: normal;
  letter-spacing: 0.5px;
}

/*? NAV-LOGO */

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: rgba(53, 86, 116, 1);
}

.logo-nav {
  padding: 9px 0;
}

.nav-logo {
  width: 114px;
  height: 46px;
  margin-left: 140px;
}

/*? BURGER-BTTN */

.burger-btn {
  display: none;
}

/* .nav-list-menu.show {
  display: flex;
} */

/* .nav-menu.show {
  display: flex;
} */

/*? NAV-BAR */

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  /* margin: auto; */
}

.nav-link {
  font-weight: 400;
  font-size: 18px;

  color: #fff;
  line-height: 22px;
  letter-spacing: 0.45px;
  margin-right: 58px;
}

.nav-link:hover {
  color: rgb(255, 255, 255, 0.8);
  transition: 0.3s ease;
}

.nav-item:last-child .nav-link {
  margin-right: 105px;
}

/* no margin-right for last-child "Contact-us" */

/**==============================*/
/*! HERO-SECTION*/
/**==============================*/

.section-hero {
  position: relative;

  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.image-in-slide {
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 1;
}

.hero-container {
  position: absolute;
  top: 40%;
  right: 35%;

  z-index: 2;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  min-width: 160px;
}

.hero-title {
  font-family: "Square Peg";
  font-weight: 400;
  font-size: 75px;

  color: #fff;
  text-align: center;
  line-height: normal;

  margin-bottom: 6px;
}

.hero-context {
  font-weight: 500;
  font-size: 18px;

  color: #fff;
  text-align: center;
  line-height: 22px;

  margin-bottom: 121px;
}

.hero-link-point {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  font-weight: 500;
  font-size: 14px;

  color: #fff;
  letter-spacing: 0.7px;
  text-transform: uppercase;

  background-color: rgb(148, 120, 167);
  border-radius: 23px;
  text-transform: uppercase;
  padding: 14px 0;
  width: 600px;
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;

  color: #fff;
  font-size: 18px;
}

.hero-link-point:hover,
.hero-link-point:active {
  background-color: rgb(175, 134, 202);
  transition: 250ms ease;
}

/**==============================*/
/*! FEATURE-SECTION*/
/**==============================*/

.feature-section {
  background-color: rgba(193, 173, 206, 1);
  width: 100vw;
}

.feaure-container {
  padding: 90px 0;
}

.feature-caption {
  height: auto;
  width: 100%;
}

.feature-title {
  font-family: "Square Peg";
  font-weight: 400;
  font-size: 50px;

  color: #fff;
  text-align: center;
  line-height: normal;
  letter-spacing: 2.5px;
}

.feature-subtitle {
  font-weight: 300;
  font-size: 55px;

  color: #fff;
  text-align: center;
  line-height: normal;
  letter-spacing: 1.375px;
  text-transform: uppercase;
  margin-bottom: 92px;
}

.feature-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 144px;
}

/*? FEATURE-ITEMS */
.features-list {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 72px;
  width: 100%;
}

/* .feature-item {
  width: calc((100% - 72px) / 4);
  width: 100%;
} */

.features-item-block {
  width: 100%;
  height: auto;
}

.product-cart {
  width: 325px;
  height: 100%;
  border-radius: 16px 16px 0px 0px;
}

.feature-content {
  background-color: rgba(148, 120, 167, 1);
  padding: 22px 16px;

  border-radius: 0px 0px 16px 16px;
}

.feature-heading {
  font-weight: 500;
  font-size: 18px;

  color: #fff;
  line-height: 22px; /* 122.222% */
}

.feature-price {
  font-weight: 400;
  font-size: 26px;

  color: #fff;
  margin-top: 13px;
}

.feature-item-text {
  font-weight: 300;
  font-size: 18px;

  color: #fff;
  line-height: 22px; /* 122.222% */
}

.feature-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  font-weight: 500;
  font-size: 14px;

  color: #fff;
  text-align: center;
  letter-spacing: 0.7px;
  text-transform: uppercase;

  border: 1px solid #fff;
  border-radius: 23px;
  padding: 13.5px 0;
  width: 400px;
}

.feature-link:hover,
.feature-link:active {
  background-color: rgb(255, 255, 255, 0.20);
  transition: 250ms ease;
}

.arrow-feature {
  color: #fff;
}

/**==============================*/
/*! GALLERY-SECTION*/
/**==============================*/

.product-container {
}



/**==============================*/
/*! FORM-SECTION*/
/**==============================*/

/*? CONTENT */

.form-container {
  padding: 90px 0;
}

.submit-content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* gap: 90px; */

  padding: 0 60px;
  width: 100%;
  height: auto;
}

.form-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  width: 50%;
}

.form-title {
  font-family: "Bodoni Moda", serif;
  font-weight: 600;
  font-size: 42px;
  color: #333;

  letter-spacing: 0.04em;
  line-height: 42px;
  margin-bottom: 22px;
}

.form-subtitle {
  font-weight: 600;
  font-size: 22px;
  color: #333;

  letter-spacing: 0.04em;
  margin-bottom: 36px;
}

.form-text {
  font-weight: 400;
  font-size: 16px;
  color: #333;
  line-height: 1.2em;
  letter-spacing: 0.04em;

  max-width: 490px;
}

/*? FORM */

.form-buy {
}

.form-data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  gap: 32px;
}

#name-tx,
#email-txt {
  display: block;
  outline: none;

  border: 2px solid rgb(51, 51, 51, 0.6);
  margin-top: 8px;
  padding-left: 12px;
  height: 28px;
  min-width: 380px;
}

.form-data select {
  display: block;
  outline: none;

  height: 28px;
  border: 2px solid rgb(51, 51, 51, 0.6);
  margin-top: 8px;
  min-width: 380px;
}

select {
  padding-left: 12px;
}

option {
  padding-left: 12px;
}

.name-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#form-submit {
  border: none;
  font-weight: 600;
  font-size: 16px;
  background-color: rgb(222, 193, 97);
  width: 100%;
  padding: 8px 0;

  color: #fff;
  cursor: pointer;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

#form-submit:hover,
#form-submit:active {
  background-color: rgb(235, 208, 119);
  transition: 250ms ease;
}

.subscription-title {
  /* display: none; */
  font-weight: 700;
  font-size: 16px;

  text-transform: uppercase;
  color: #e79899;
}

.input-title-name {
  font-weight: 700;
  font-size: 16px;

  text-transform: uppercase;
  color: #e79899;
}
/* 
.none {
  display: none;
} */

.mesg {
  font-weight: 700;
  font-size: 16px;

  text-transform: uppercase;
  color: #e79899;
  display: none;
}

.input-title-email {
  font-weight: 700;
  font-size: 16px;

  text-transform: uppercase;
  color: #e79899;
}

.select-title {
  font-weight: 700;
  font-size: 16px;

  text-transform: uppercase;
  color: #e79899;
}

.email-form {
}

.select-form {
}

.form-data label {
}

/**==============================*/
/*! FORM-SECTION*/
/**==============================*/

.footer {
  background-color: #707070;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 90px 180px;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.footer-title {
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;

  letter-spacing: 0.06em;
  color: #fff;
  margin-bottom: 18px;
}

.contact-list {
  display: flex;
  flex-direction: column;

  gap: 18px;
}

.contact-item {
}

.contact-title {
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;

  color: #fff;
  letter-spacing: 0.06em;
  line-height: normal;
}

.address {
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;

  color: #fff;
  letter-spacing: 0.06em;
}

.address:hover,
.address:active {
  color: rgb(199, 199, 199);
  transition: 250ms ease;
}

.icon-container {
}

.footer-icon-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100%; */
}

.icon-items {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 10px;
  /* width: 100%; */

  margin-top: 18px;
}

.icon-social {
  width: 40px;
  height: 40px;
}

.footer-logo {
  height: 90px;
  width: 140px;
}

.footer-menu {
}

.footer-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  gap: 18px;
}

.footer-item {
}

.footer-link {
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;

  color: #fff;
  letter-spacing: 0.06em;
}

.footer-link:hover,
.footer-link:active {
  color: rgb(199, 199, 199);
  transition: 250ms ease;
}
